<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto+Mono:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="./style.css"
    />
    <style>
      body {
        font-family: 'Roboto Mono', 'Noto Sans KR';
      }
    </style>
    <title>Gradient Text</title>
  </head>
  <body>
    <h1 class="title">linear-gradient는 백그라운드 컬러를 지정하기 위한 속성입니다.</h1>
    <h1 class="title2">각도도 삽입할 수 있습니다.</h1>
    <h1 class="title3">-webkit-background-clip: text 시 텍스트에 입혀집니다.</h1>
    <h1 class="title4">border에 gredient와 radious를 넣습니다. IE에서는 radious가 동작하지 않습니다.</h1>
    <section class="box"><h1>border에 gredient와 radious를 넣습니다. IE에서도 radious가 동작합니다.</h1></section>
    <h1 class="gradientText">The brown fox jumps over the lazy dog.</h1>

    <section class="gradirent">
      <div class="gradient-cover"><h1>The Brown Fox</h1></div>
      <div class="gradient-cover"><h1>Jumps Over The Lazy Dog</h1></div>
      <div class="gradient-cover"><h1>Gradient Text</h1></div>
    </section>
  </body>
  <script src="./main.js"></script>
</html>
