body {
    height: 100vh;
}
.title {
    background-image: linear-gradient(to right, #f0dede, #edb9b9,#e39a9a);
    font-weight:400;
}
.title2 {
    background-image: linear-gradient(179deg, #ffeffe 20% , #beecee , #feefee );
    font-weight:400;
}               
.title3 {
    background-image: linear-gradient(179deg, #f99fff, #feecee , #eaaeaa );
    -webkit-background-clip: text;
    color: transparent;
}

.gradientText {
    font-family: sans-serif;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to right, #000, #000); 
    -webkit-background-clip: text;
    color: transparent;
}
.gradientText::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "The brown fox jumps over the lazy dog."; 
  background-image: linear-gradient(179deg, #ffeffe 20% , #beecee , #feefee ); 
  transition: opacity 0.5s linear;
  opacity: 0;
  -webkit-background-clip: text;
}
.transitionOn::before {
  opacity: 1;
}






